<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>LIST OF ANIMALS</h1>
    {%for animal in animals%}
    <ul><a href="/animal/{{animal.id}}">
            ID: <li>{{animal.id}}</li>
            LEGS: <li>{{animal.legs}}</li>
            WEIGHT: <li>{{animal.weight}}</li>
            HEIGHT: <li>{{animal.height}}</li>
            SPEED: <li>{{animal.speed}}</li>
            FAMILY: <li>{{animal.family.name}}</li>
        </a>
    </ul>

    {%endfor%}

</body>

</html>