{% extends 'base.html' %}
{% block content %}
<h2>Unreturned rentals</h2>
{% for rental in unreturned_rentals %}
<div class="block">
    <ul>
        <li>Rental Date: {{rental.rental_date}}</li>
        <li>Customer's name: {{rental.customer.first_name}} {{rental.customer.last_name}}</li>
        {% for i in vehicle_size %}
        {% if i.id == rental.vehicle.size_id %}
        <li>Size: {{i.name}}</li>
        {% endif %}
        {% endfor %}
        {% for i in vehicle_type %}
        {% if i.id == rental.vehicle.vehicle_id %}
        <li>Type: {{i.name}}</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}
<h2>Sorted rentals</h2>
{% for rental in sorted_rentals %}
<div class="block">
    <ul>
        <li>Rental Date: {{rental.rental_date}}</li>
        <li>Return Date: {{rental.return_date}}</li>
        <li>Customer's name: {{rental.customer.first_name}} {{rental.customer.last_name}}</li>
        <li>Vehicle size id: {{rental.vehicle.size_id}}</li>
        <li>Vehicle type id: {{rental.vehicle.vehicle_id}}</li>
    </ul>
</div>
{% endfor %}
{% endblock %}