{% extends 'partials/base.html' %}



{% block title %}
Homepage
{% endblock %}

{% block content %}
{% include 'partials/navbar.html' %}

<h2>All images:</h2>

<div class="row">
    {% for image in images %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ image.image.url }}" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>
                <p class="card-text">{{ image.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}