/* Обнуление стилей */
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
input,
textarea,
button,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Корректировка наследования отображения элементов */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* Корректировка стилей для списков */
ul,
ol {
    list-style: none;
}

/* Корректировка стилей для ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Корректировка стилей для кнопок */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}