<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .block {
        width: 300px;
        height: 400px;
        margin: 0 auto;
        margin-top: 100px;
        border-radius: 15px;
        border: 2px solid black;
        text-align: center;
    }
</style>

<body>
    <div class="block">
        <h1>Family: {{ family.name }}</h1>
        <ul>
            {% for animal in animals %}
            <li><a href="/animal/{{ animal.id }}">{{ animal.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>