{% extends 'partials/base.html' %}



{% block title %}
Homepage
{% endblock %}
{% block content %}
{% include 'partials/navbar.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Welcome to the Films Homepage</h1>
<h2>Homepage</h2>
{% if user.is_authenticated %}
{% for film in films %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ film.title }}</h5>
        <p class="card-text">{{ film.release_date }}</p>
        <p class="card-text">{{ film.director }}</p>
        <h6 class="card-subtitle mb-2 text-muted">Reviews:</h6>
        <ul class="list-group">
            {% for review in film.review_set.all %}
            <li class="list-group-item">
                {{ review.review_text }}
                <span class="badge bg-primary">{{ review.rating }}</span>
            </li>
            {% empty %}
            <li class="list-group-item">No reviews yet</li>
            {% endfor %}
        </ul>
        <a class="btn btn-dark" href="http://127.0.0.1:8000/films/deleteFilm/{{film.id}}">Delete</a>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/films/addfavorite/{{film.id}}">Add to favorite</a>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/films/removefavorite/{{film.id}}">Remove from
            favorite</a>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/films/film/{{film.id}}">Check this film</a>

    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}